USE [master]
GO
/****** Object:  Database [DBUser]    Script Date: 22/07/2026 05.49.03 ******/
CREATE DATABASE [DBUser]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBUser', FILENAME = N'C:\Users\HELLEN\DBUser.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBUser_log', FILENAME = N'C:\Users\HELLEN\DBUser_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBUser].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBUser]
GO
/****** Object:  Table [dbo].[Kategori]    Script Date: 22/07/2026 05.49.03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategori](
	[KodeKategori] [varchar](20) NOT NULL,
	[NamaKategori] [varchar](100) NULL,
	[Keterangan] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[KodeKategori] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaksi]    Script Date: 22/07/2026 05.49.03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaksi](
	[IdTransaksi] [int] IDENTITY(1,1) NOT NULL,
	[Tanggal] [date] NULL,
	[NamaBarang] [varchar](100) NULL,
	[Jumlah] [int] NULL,
	[Harga] [int] NULL,
	[Total] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTransaksi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLogin]    Script Date: 22/07/2026 05.49.03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLogin](
	[IdUser] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[LevelUser] [varchar](20) NULL,
	[StatusAktif] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
